.footer {
    background-color: $color-primary;
    padding: 3rem 1rem;
    text-align: center;

    &__heading {
        font-size: clamp(2.5rem, 4vw, 3rem);
        color: $color-white;
        font-family: 'Crete Round', sans-serif;
        letter-spacing: 0.2rem;
        font-weight: 500;
    }

    &__coopyright {
        font-weight: bold;
        color: lighten($color-primary, 30);
    }
}