.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 8rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-family: 'Crete Round', sans-serif;
    }

    .nav {
        display: none;

        @include desktop {
            display: flex;
            gap: 2rem;
        }
    }
}