.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba($color-primary, 0.4);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-family: 'Crete Round', sans-serif;
        font-size: clamp(3rem, 5vw, 3.6rem);
    }

    .nav {
        display: none;

        @include desktop {
            display: flex;
            gap: 2rem;
        }
    }
}