.contact {
    padding: 8rem 0;


    &__heading {
        margin: 0 auto 4rem auto;
        font-size: 2rem;
        text-transform: uppercase;
        max-width: 24rem;
        border-bottom: 1px solid $color-four;
        padding-bottom: 1rem;
    }

    &__paragraph {
        margin: 2rem auto;
    }
}

.form {
    margin-top: 3rem;

    @include desktop {
        display: flex;
        gap: 3rem;
    }

    &__input,
    &__button {
        margin: 1rem 0;
        width: 100%;
        max-width: 40rem;
        padding: 1rem;
        font-size: 1.8rem;
        border-radius: 4px;
    }

    &__input {
        border: 2px solid lighten($color-primary, 30);
    }

    &__button {
        border: none;
        color: $color-white;
        font-weight: bold;
        background-color: $color-four;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: $color-primary;
        }
    }
}