.main-image {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../pictures/pictures_compressed/main.webp') center/cover;

    &__heading {
        font-weight: normal;
        text-transform: uppercase;
        margin: 5rem 0;
        font-size: clamp(24px, 6vw, 50px);
    }
}