.possibilities {
    background-color: lighten($color-primary, 70);
    padding: 10rem 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @include desktop-L {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .article {
        max-width: 50rem;
        border-radius: 0.5rem;
        overflow: hidden;

        &__overlay {
            background: rgba(255, 255, 255, 0.8);
            height: 100%;
            width: 60%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include desktop-L {
                width: 48%;
            }
        }

        &__heading {
            border-bottom: 1px solid lighten($color-primary, 40);
            padding-bottom: 1rem;
            margin: 1rem 0 0 0;
            text-transform: uppercase;
        }

    }

    .article-1 {
        background: url("../pictures/pictures_compressed/article-image-1.webp") center/cover;
    }

    .article-2 {
        background: url("../pictures/pictures_compressed/article-image-2.webp") right/cover;
    }
}