.steps {
    padding: 3rem 0;

    .container {
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
        }
    }

    .step {
        margin: 5rem auto;
        max-width: 35rem;

        &__heading {
            text-transform: uppercase;
        }

        &__paragraph {
            color: $color-secondary;
        }

        @include desktop {
            width: 40%;
        }

        @include desktop-L {
            max-width: 30%;
        }
    }
}