.steps {
    padding: 10rem 0 8.4rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .step {
        // margin: 5rem auto;
        max-width: 35rem;

        &__heading {
            text-transform: uppercase;
        }

        @include desktop {
            width: 40%;
        }

        @include desktop-L {
            max-width: 30%;
        }
    }
}